div {
    display: block;
    border: solid red 4px;
}

h1{
    display:inline-block;
    border: #cccccc 
    height: 100px;
    width: 500px;
    background-color: #4aaaa5;
    text-align: center;
    Footer: #666666;
}

ul{
    display: inline-block;
    float: right;
    border: solid blue 2px;    
    list-style: none;
}

li {
    float: left;
    padding: 30px;
    font-weight: bold;
}

#nav-bar {
    float: left;
    padding: 30px;
}

#menu {
    float: right;
    padding: 30px;
}